[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-dotenv = "*"
boto3 = "*"
langchain-aws = "*"
langchain-community = "*"
jq = "*"
pipfile = "*"
faiss-cpu = "*"
opensearch-py = "*"

[dev-packages]

[requires]
python_version = "3"
